.auth-container {
    width: 400px;
    margin: 80px auto;
}

.auth-title {
    text-align: center;
    margin-bottom: 40px;
}

.auth-form__group {
    margin-bottom: 20px;
}

.auth-form__label {
    display: block;
    margin-bottom: 5px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    box-sizing: border-box;
}

.auth-form__button {
    width: 100%;
    height: 45px;
    background-color: #ff5a5a;
    color: #fff;
    border: none;
    cursor: pointer;
}

.auth-form__error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.auth-form__link {
    text-align: center;
    margin-top: 20px;
}